<h1>投稿一覧</h1>
	<% @lists.each do |list| %>
		<p>タイトル</p>
		<span><%= list.title %></span>
		<%= link_to list.title, todolist_path(list.id)%>
		<p>画像</p>
		<%= attachment_image_tag @list, :imge, size: "100x100", format:'jpeg' %>

	<% end %>