<h2>タイトル</h2>
<%= @list.title %>

<h2>本文</h2>
<%= @list.body %>

<h2>画像</h2>
<%= attachment_image_tag @list, :image, :fill, 300, 300, format:'jpeg' %>

<%= link_to "編集", edit_todolist_path(@list.id) %>